# local/dev artifacts
.vscode/
**/.venv/
**/__pycache__/
**/*.pyc
venv/
.env
# node & misc (safe)
node_modules/
dist/
build/
.DS_Store
IntranetAzure/axure PAT
IntranetAzure/axure PAT
IntranetAzure/axure PAT
